
body {
background-color: #F5C0C0; 
font-family: 'Nanum Myeongjo', serif;
 font-size: 19px;
  }

h1,h2 {
	font-family: 'Bree Serif', serif;
}

h1 {color: #ff005c;  
	font-size: 45px;
	font-weight: 900;
}
 
h2{color: #ff005c;  
	font-size: 30px;
	font-weight: 300;
	text-decoration: underline;
 }

a{ 
    font-family: 'Bree Serif', serif;
	text-decoration: none;
	color: rgb(250 250 250);
	font-weight: 350;
}

a:hover {color: black;
	text-decoration: underline;
}


.container {
  width: 700px; 
  margin: 40px auto;
}
 
@media (max-width: 700px){
	.container {
		width: 600px;
	}
}

@media (max-width: 500px){
	.container {
		width: 400px;
	}
}




.card-white{ 
	background-color: #ff8e9f;
    padding: 40px;
    margin: 20px 0px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 10px 30px blueviolet;
}

.img-circle {
	width: 200px;
	border-radius: 50%;
	box-shadow: 4px 4px 3px grey;
}

.btn-blue{
	background-color: #ff005c;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover { 
	background-color:#ff005c ;
	color: black;
}
 
.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230 230 230 );
}

.list-inline i:hover {
	color: rgb(0 0 0);
}

#introduction p {
  margin-bottom: 40px;
 }

